<div class="d-flex flex-column flex-md-row align-items-center p-2" style="margin: 0 2em;">

  <a class="my-0 mr-md-auto" id="app_name" routerLink=""><img id="logo_image" src="assets/Logo.png">SCERTIF</a>
  <nav class="my-2 my-md-0 mr-md-3">

    <a class="p-2" routerLink="/" *ngIf="unAuth()">HOME</a>
    <a class="p-2" (click)="onExams()">EXAMS</a>
    <a class="p-2" routerLink="/sign-in" *ngIf="unAuth()">LOGIN</a>
    <a class="p-2" routerLink="/sign-up" *ngIf="unAuth()">SIGN UP</a>
    <a class="p-2" *ngIf="connected" routerLink="/chat">CHAT</a>
    <a class="p-2" *ngIf="connected" (click)="onLogout()">LOGOUT</a>
  </nav>
  <label style="margin-bottom: 0; margin-right: 7px;">
    <input type="text" class="form-control" placeholder="Search"
           [(ngModel)]="searchText"
           (keyup)="onKeyPress($event)">
  </label>
  <button type="button" class="btn btn-light text-info"
          (click)="onSearch()"
          [disabled]="!validSearch()">
    Search
  </button>
</div>
<mat-progress-bar
  *ngIf="loading"
  color="accent" mode="indeterminate" style="height: 0.3em;">
</mat-progress-bar>
