<div class="text-center" *ngIf="loading" style="height: 25em">
  <div class="spinner-border spinner-style" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="!loading">
  <app-question *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }"
                [id]="question.id"
                [question]="question.question"
                [choices]="question.choices"
                [correctAnswers]="question.correctAnswers"
                [explanation]="question.explanation"
                [pChanged]="pHasChanged"
                [submitted]="submitted"
                [pageNumber]="p"
                [checkedAnswers]="checkedAnswers(question.id)"
                (selectedAnswer)="addAnswer($event, question.id)"
                class="row" style="margin-top:3em;">
  </app-question>
  <div id="control_buttons_row" class="row">
    <button id="report_button" type="button" class="card-link btn btn-outline-dark" (click)="showExplanation = !showExplanation">Report</button>
    <button id="previous_button" type="button" class="card-link btn btn-outline-dark" (click)="showExplanation = !showExplanation">Previous</button>
    <button id="next_button" type="button" class="card-link btn btn-outline-dark" (click)="pageChanged($event)">Next</button>
  </div>
  <div class="row">
    <!-- <div class="col-sm ext-col-sm">
      <pagination-controls (pageChange)="pageChanged($event)" class="hide-page-numbers pagination-position my-pagination"></pagination-controls>
    </div> 
    <div class="col-sm ext-col-sm">
      <button type="button" class="card-link btn btn-outline-info set-cancel-timer-style" (click)="setTimer()" *ngIf="!showTimer && examStarted">Set timer</button>
      <button type="button" class="card-link btn btn-outline-info set-cancel-timer-style" (click)="cancelTimer()" *ngIf="showTimer && examStarted && !startedTimer">Cancel timer</button>
      <div class="input-group" id="timer-input" *ngIf="showTimer">
        <input type="text" placeholder="min" class="form-control" *ngIf="!startedTimer" [(ngModel)]="timerMinutes" maxlength="3" aria-label="Minute amount">
        <div class="input-group-append">
          <button type="button" class="btn btn-info" *ngIf="!startedTimer" (click)="startTimer()" [disabled]="startedTimer || timerMinutes === undefined || timerMinutes.length <= 0">Start</button>
          <div *ngIf="startedTimer" class="input-group-append">
            <button type="button" class="btn btn-info btn-timer" (click)="countdown.pause()" [disabled]="!startedTimer">Pause</button>
            <button type="button" class="btn btn-info btn-timer" (click)="countdown.resume()" [disabled]="!startedTimer">Resume</button>
            <button type="button" class="btn btn-info btn-timer" (click)="countdown.restart()" [disabled]="!startedTimer">Restart</button>
            <button type="button" class="btn btn-info btn-timer" (click)="cancelTimer()" [disabled]="!startedTimer">Stop</button>
          </div>
        </div>
      </div>
      <countdown *ngIf="startedTimer" id="timer-style" #cd [config]="timerConfig" (event)="handleTimer($event)"></countdown>
    </div>
    <div class="col-1 ext-col-sm">
      <div id="finish-redo-style">
        <button type="button" class="btn btn-primary" *ngIf="p === questions.length && showSubmit" (click)="onSubmit()">Finish</button>
        <button type="button" class="btn btn-primary" *ngIf="!showSubmit" (click)="onRedo()">Re-do</button>
      </div>
    </div>
  </div>
  -->
  <br><br><br><br><p class="text-center" *ngIf="showResult">Score = {{result}}%</p>
</div>

