.pagination-position {
  float: left;
  margin-top: 20px;
}

#finish-redo-style {
  display: table;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#timer-input {
  float: right;
  width: 21%;
  margin-top: 0.95em;
  margin-right: 16em;
}

#timer-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.95em;
  border: 1px solid #17a2b8;
  color: #17a2b8;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.set-cancel-timer-style {
  margin-top: 0.99rem;
  margin-left: 1rem;
}

.ext-col-sm {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.btn-timer {
  margin-right: 0.5em;
}

.btn {
  margin-top:0.5em;
}

.spinner-style {
  width: 5em;
  height: 5em;
  margin-top: 10em;
}

.next_finish_button {
  width: 6em;
  background-color: #00B260;
  color:#fff
}
#previous_button {
  width: 6em;
  background-color: #EE3A18;
  color:#fff;
}

#control_buttons_row{
  margin-left: 5em;
  margin-right: 5em;
  float: right;
}


.answers {
  padding: 0.75em;
  border-radius: 17px;
  color: #fff;
}
.right_answers{
  background-color: #00B260;
}
.answers_score {
  width: 80%;
  margin-right: 1em;
}
#right_answers_score {

}

.wrong_answers{
  background-color: #EE3A18;
}

.blue_answers {
  background-color: #36A2EB;
}

.yellow_answers {
  background-color: #FFCD56;
}

.orange_answers {
  background-color: #FF9F40;
}

#congratulation {
  /* position:absolute; */
  color:#03D876;
  text-align: center;
  margin:1em auto 0 auto;
  font-size: 3.5em;
}

#retake_full_exam {
    text-align: center;
    margin:1em auto 1em auto;
    font-size: 1em;
}

#total_score {
  color:#00B260;
  margin-left: 25em;
  font-size:400;
  font-weight: 600;
  margin-bottom: 1em;
}

.split {
  height: 100%;
  /* width: 50%; */
  /* position: fixed; */
  z-index: 1;
}

/* Control the left side */
.left {
  left: 0;
  width: 40%;
}
/* Control the right side */
.right {
  right: 0;
  width: 60%;
}

.section_score {
  float:right;
}

