<div class="text-center" *ngIf="loading" style="height: 25em">
  <div class="spinner-border spinner-style" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="!loading && examStarted">
  <app-question *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }" [id]="question.id"
    [question]="question.question" [choices]="question.choices" [correctAnswers]="question.correctAnswers"
    [explanation]="question.explanation" [pChanged]="pHasChanged" [submitted]="submitted" [pageNumber]="p"
    [checkedAnswers]="checkedAnswers(question.id)" (selectedAnswer)="addAnswer($event, question.id)" class="row"
    style="margin-top:3em;">
  </app-question>
  <div id="control_buttons_row" class="row">
    <button id="report_button" type="button" class="card-link btn btn-outline-dark"
      (click)="showExplanation = !showExplanation">Report</button>
    <button id="previous_button" type="button" class="card-link btn btn-outline-dark"
      (click)="pageChanged(p-1)">Previous</button>
    <button id="next_button" type="button" class="card-link btn btn-outline-dark" *ngIf="p !== questions.length"
      (click)="pageChanged(p+1)">Next</button>
    <button id="next_button" type="button" class="card-link btn btn-outline-dark" *ngIf="p === questions.length"
      (click)="onSubmit()">Finish</button>
  </div>
  <div class="row">
    <br><br><br><br>
    <p class="text-center" *ngIf="showResult">Score = {{result}}%</p>
  </div>
</div>


<div class="container" id="results_view" *ngIf="!loading && !examStarted ">
  <div class="row">
    <h1>Congratulations ! </h1> <br><br><br><br>
    <h2>95/120</h2>
    <br>
  </div>
    <div class="row">
    <h3 class="answers right_answers" id="right_answers_score">Right Answers: 50 / 120</h3><br>
    <h3 class="answers right_answers" id="right_answers_retake">Retake</h3>
  <div class="row">
    <h3 class="answers wrong_answers">Wrong Answers: 50/120</h3>
    <h3 class="answers wrong_answers">Retake</h3>
  </div>
  </div>
  
</div>