.ellipse-style {
  background: black;
  width: 80em;
  height: 15em;
  border-radius: 100% 100%;
  margin-top: -8em;
  align-self: center;
}

.question-title-style {
  position: absolute;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  top: 0.1em;
  left: 0;
  right: 0;
  text-align: center;
}

.question-num-style {
  position: absolute;
  left: 21.6em;
  top: 1em;
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 2.5em;
  color: #000000;
}

.choice-input-style {
  border: 1px solid;
  border-radius: 0.2em;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.75em;
}

#choices-container {
  margin-right: 5em;
  margin-left: 5em;
}

.text-input-style {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.text-input-style-correct {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: green;
}

.text-input-style-wrong {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: red;
}

.input-label {

}

.input-checkbox-style {
  margin-top: -0.35rem;
}

.ext-row {
  margin-left: 5em;
  margin-right: 5em;
}

.ext-col {
  padding-right: 0;
  padding-left: 0;
}

.ext-btn {
  display: table;
  margin: auto;
}

.correct-answer-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 1px solid #007bff;
  color: #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.explanation-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 1px solid #343a40;
  color: #343a40;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

/* .input-label {
  position: relative;
  border: 20px solid #000;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  border-radius: 100%;
  top: 0.5em;
}

.input-label > input[type=checkbox] {
  position: absolute; left: -999px;
} */

/* .text-input-style input {
  position: relative;
  z-index: -9999;
}

span {
  width: 1.3em;
  height: 1em;
  display: block;
  background: url('src/assets/vector.png') no-repeat;
  margin-left: -1.5em;
} */
