<div style="width: 100%;">
  <div class="card" style="overflow: hidden;">
    <div class="ellipse-style">
      <div class="question-title-style">
        {{shortQuestion}}
        <a *ngIf="readMore" data-toggle="modal" data-target="#questionModal"><u>Read more</u></a>
      </div>
    </div>
    <div class="question-num-style">{{pageNumber}}</div>
    <div class="card-body" style="margin-top: 2.2em;">
      <div id="choices-container">
        <div *ngFor="let choice of choices; let i = index" class="form-check choice-input-style">
          <div>
            <label class="input-label">
              <input class="form-check-input input-checkbox-style"
                     type="checkbox" value="{{choice}}"
                     (change)="onChange($event, i + 1)"
                     [checked]="isChecked(choice)"
                     [disabled]="submit">
            </label>
            <label [ngClass]="{
             'text-input-style': !submit,
             'text-input-style-correct': isCorrect(choice) && submit,
             'text-input-style-wrong': !isCorrect(choice) && submit
             }">
              {{choice}}
            </label>
          </div>
        </div><br>
      </div><br>
      <div class="row ext-row">
        <div class="col ext-col">
          <button type="button" class="card-link btn btn-outline-primary ext-btn" (click)="showAnswer = !showAnswer">Show answer</button>
          <span class="text-center correct-answer-style" *ngIf="showAnswer">{{correctAnswers}}</span>
        </div>
        <div class="col ext-col">
          <button type="button" class="card-link btn btn-outline-dark ext-btn"
                  (click)="showExplanation = !showExplanation">&nbsp;&nbsp;Submit explanation&nbsp;</button>
          <!-- <span class="text-center explanation-style" *ngIf="showExplanation">{{explanation}}</span> -->
          <div class="form-group" *ngIf="showExplanation"><br>
            <div *ngIf="!expSubmitted">
              <label for="explanation">Type your explanation&nbsp;&nbsp;</label>
              <img src="assets/hint.png" alt="hint" width="20" height="20" data-toggle="tooltip"
                   data-placement="top"
                   title="Submit an explanation for this question to help others better understand it. Once your submission is approved, it will be displayed as the official explanation!">
              <textarea class="form-control" id="explanation" rows="3" [(ngModel)]="explanationText"></textarea><br>
            </div>
            <button type="button" class="card-link btn btn-outline-dark ext-btn"
                    *ngIf="!expSubmitted"
                    [disabled]="explanationText.length === 0"
                    (click)="submitExplanation()">&nbsp;&nbsp;Submit&nbsp;</button>
            <div class="alert alert-success text-center" role="alert" *ngIf="expSubmitted">
              Explanation has been successfully submitted!
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="questionLabel">Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{question}}
      </div>
    </div>
  </div>
</div>
