.ellipse-style {
  background: #ea7c4a;
  width: 80em;
  height: 15em;
  border-radius: 100% 100%;
  margin-top: -8em;
  align-self: center;
}

.question-title-style {
  position: absolute;
  font-family: Roboto, sans-serif;
  color: white;
  margin-left: auto;
  margin-right: auto;
  top: 0.1em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 550;
  margin-top:0.5em;
  letter-spacing: 0em;
  overflow: hidden;
}

.question-num-style {
  position: absolute;
  left: 21.6em;
  top: 1em;
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 2.5em;
  color: #000000;
}

.choice-input-style {
  border: 1px solid;
  border-radius: 0.2em;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.75em;
}

.choice-input-style-selected {
  border: 1px solid;
  border-radius: 0.2em;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.75em;
  background: rgb(71,85,212);
  background: linear-gradient(90deg, rgba(71,85,212,1) 0%, rgba(126,128,162,1) 90%);
}

.choice-input-style-correct {
  border: 1px solid;
  border-radius: 0.2em;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.75em;
  background: rgb(0,191,4);
  background: radial-gradient(circle, rgba(0,191,4,0.7889356426164216) 0%, rgba(23,170,49,1) 80%);
}

.choice-input-style-wrong {
  border: 1px solid;
  border-radius: 0.2em;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.75em;
  background: rgb(255,35,35);
  background: radial-gradient(circle, rgba(255,35,35,0.7889356426164216) 0%, rgba(209,28,28,1) 80%);
}

#choices-container {
  margin-right: 5em;
  margin-left: 5em;
  height:20em;
}

.text-input-style {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.text-input-style-selected {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: white;
}

.text-input-style-correct {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: green;
}

.text-input-style-wrong {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: red;
}

.input-label {

}

@media only screen and (min-width: 1200px) {

  #report_button {
    width: 6em;
    background-color: #ffaf1e;
    color:#fff;
    margin-top: 0.5em;
    position: absolute;
    float: right;
    margin-left: 44.7em;
  }
}

@media only screen and (max-width: 1200px) {

  #report_button {
    width: 6em;
    background-color: #ffaf1e;
    color:#fff;
    margin-top: 0.5em;
    position: absolute;
    float: right;
    margin-left: 33.5em;
  }
}

@media only screen and (max-width: 992px) {

  #report_button {
    width: 6em;
    background-color: #ffaf1e;
    color:#fff;
    margin-top: 0.5em;
    position: absolute;
    float: right;
    margin-left: 18.5em;
  }
}

@media only screen and (max-width: 768px) {

  #report_button {
    width: 6em;
    background-color: #ffaf1e;
    color:#fff;
    margin-top: 0.5em;
    position: absolute;
    float: right;
    margin-left: 7.3em;
  }
}

@media only screen and (max-width: 576px) {

  #report_button {
    width: 6em;
    background-color: #ffaf1e;
    color:#fff;
    margin-top: 0.5em;
    position: absolute;
    float: right;
    margin-left: 1em;
  }

  .show_answer_ex_style {
    margin-top: 2em;
  }
}

.input-checkbox-style {
  margin-top: -0.35rem;
}

.ext-row {
  margin-left: 5em;
  margin-right: 5em;
}

.ext-col {
  padding-right: 0;
  padding-left: 0;
}

.ext-btn {
  display: table;
  margin: auto;
}

.correct-answer-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 1px solid #007bff;
  color: #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.explanation-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 1px solid #343a40;
  color: #343a40;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

#question_text {
  margin:0 2em 0 2em;
  font-size: 1vw;
}

/* .input-label {
  position: relative;
  border: 20px solid #000;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  border-radius: 100%;
  top: 0.5em;
}

.input-label > input[type=checkbox] {
  position: absolute; left: -999px;
} */

/* .text-input-style input {
  position: relative;
  z-index: -9999;
}

span {
  width: 1.3em;
  height: 1em;
  display: block;
  background: url('src/assets/vector.png') no-repeat;
  margin-left: -1.5em;
} */
