<img src="assets/1-background.png" alt="boy-girl" style="width: 100%">
<img src="assets/2-background.png" alt="three-people" style="width: 100%">
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img src="assets/study-on-the-go.png" alt="study-on-the-go" style="width: 100%">
    </div>
    <div class="col-sm">
      <img src="assets/exam-passing.png" alt="exam-passing" style="width: 100%">
    </div>
    <div class="col-sm">
      <img src="assets/experts-verified.png" alt="experts-verified" style="width: 100%">
    </div>
  </div>
</div>
<br><br><br><br>
