<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

<div class="section">
<div class="row row1">
  <div id="row1_text" class="col-sm-9 col-md-6">
    <h1 id="row1_title">Suceed on your exams !</h1>
    <h2 id="row1_subtitle1">proove your valuable skills</h2>
    <h4 id="row1_subtitle2">Maximize carrer oppurtunities !</h4>

    <p class="button" id="exams_button">exams list</p>
    <p class="button" id="career_button">careers Boost</p>
  </div>
  <div class="col-sm-3 col-md-6">
    <img id="row1_image" src="assets/people_studying.png">
  </div>
</div>


<div class="row row2">
  <div id="row2_text">
    <h1>Made for everyone from business to IT </h1>
  </div>
</div>
<div class="row row5">
  <div class="col-sm-3">
    <h4 class="button button_row2">40 <br> exams</h4>
  </div>
  <div class="col-sm-3">
    <h4 class="button button_row2">1600 <br> questions</h4>
  </div>
  <div class="col-sm-3">
    <h4 class="button button_row2">3400 <br> answers</h4>
  </div>
  <div class="col-sm-3">
    <h4 class="button button_row2">1300 <br> explanations</h4>
  </div>
</div>
</div>

  

<div class="section">
<div class="row row3">
  <div id="row3_image" class="col-sm-3 col-md-4">
    <img src="assets/second_image.png">
  </div>
  <div id="row3_text" class="col-sm-9 col-md-8">
    <h1>figure out your blind spots</h1> 
    <h4>learn easier by always testing your knowledge</h4>
  </div>
</div>
</div>

<div class="section">
<div class="row">
  <div id="row4_text" >
    <h1>Learn Faster</h1>
    <h4>Our AI will help you close knowledge gaps</h4>
    <h4> in the blink of an eye</h4>
  </div>
    <img id="robot_image" src="assets/robot_image.png">
  </div>
</div>
</div>

